<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QHALIMED  Servicios </title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/LOGO.ico">

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    

    <link rel="stylesheet" href="../../css/Servicios.css">
</head>
<body>
    <header id="header" class="header">
    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:contact@example.com">contact@example.com</a>
                </div>
                <div class="d-flex align-items-center ms-4">
                    <i class="fa-solid fa-phone"></i>
                    <a>+1 5589 55488 55</a>
                </div>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="http://127.0.0.1:8000" class="logo d-flex align-items-center me-auto">
                
                <img src="../../img/LOGO QHALIMED.png" alt="Qhalimed Logo">
            </a>
            <i class="mobile-nav-toggle d-xl-none fa-solid fa-bars" onclick="const nav = document.getElementById('navmenu'); nav.classList.toggle('open');"></i>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li>
                        <a href="http://127.0.0.1:8000"class="">Inicio</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/nosotros"class="">Nosotros</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/servicios"class="active">Servicios</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/medicos"class="">Médicos</a>
                    </li>
                    <li><a href="">Blog</a></li>
                    <a class="cta-btn pulse-effect" href="#appointment">Agendar una cita</a>
                </ul>
            </nav>
        </div>
    </div>
</header>
    <main>
        <div class="bg-head" style="background-image: url(../../img/portadas/servicios.jpg);background-position:center;">
    <div class="container">
        <h1 class="py-4" data-aos="fade-right">Servicios</h1>
    </div>
</div>
      <nav class="services-submenu">
        <div class="container d-flex gap-3 py-3 flex-wrap nav-services">
          <a href="http://127.0.0.1:8000/servicios/pediatria"class="">Pediatría</a>
          <a href="http://127.0.0.1:8000/servicios/ginecologia"class="">Ginecología</a>
          <a href="http://127.0.0.1:8000/servicios/endocrinologia"class="">Endocrinología</a>
          <a href="http://127.0.0.1:8000/servicios/medicina-interna"class="active">Medicina interna</a>
          <a href="http://127.0.0.1:8000/servicios/neurologia"class="">Neurologia</a>
          <a href="http://127.0.0.1:8000/servicios/traumatologia"class="">Traumatologia</a>
          <a href="http://127.0.0.1:8000/servicios/reumatologia"class="">Reumatología</a>
          <a href="http://127.0.0.1:8000/servicios/ecografias"class="">Ecografías</a>
        </div>
      </nav>
      <section class="servicesDetails">
    <div class="container position-relative">

        <div class="agenda text-center animate-float">
            <h4 class="text-light">Agenda tu cita hoy</h4>
            <p class="text-light mt-3">Solicita tu cita para <br />Medicina Interna</p>
            <a class="btn light mt-2">Agendar <i class="ms-2 fa-solid fa-circle-right"></i></a>
        </div>
        <div class="row align-items-center text-center justify-content-end">
            <div class="col-12 py-6 pb-5">
                <h1>Medicina Interna</h1>
                <p>Cuidado integral para adultos con un enfoque clínico especializado</p>
            </div>
            <div class="col-md-6">
                <div class="imagen">
                    <img src="../../img/servicios/MedicinaInterna.jpg" alt="Medicina Interna">
                </div>
            </div>
            <div class="col-md-6 definicion">
                <h2>¿En qué consiste este servicio?</h2>
                <p class="mt-4">La Medicina Interna es una especialidad médica que se enfoca en la prevención, diagnóstico y tratamiento de enfermedades en pacientes adultos. En QHALIMED, nuestros médicos internistas evalúan de forma integral al paciente, considerando múltiples sistemas del cuerpo, especialmente en casos complejos o con enfermedades crónicas como diabetes, hipertensión, enfermedades cardiovasculares, respiratorias, digestivas, entre otras. Es la puerta de entrada para una atención clínica completa y coordinada.</p>
            </div>
        </div>
    </div>
    <div class="consulta">
        <div class="container">
            <div class="row pb-10 justify-content-end">
                <div class="col-lg-6">
                    <h2>¿Cuándo acudir a consulta?</h2>
                    <p class="mt-4">Recomendamos acudir a una consulta de Medicina Interna si presentas:</p>
                    <ul class="list-unstyled">
                        <li class="mb-2 custom-li">
                            <i class="fa-solid fa-circle-check me-2"></i>
                            Síntomas generales como fatiga, fiebre prolongada, dolor torácico o abdominal.
                        </li>
                        <li class="mb-2 custom-li">
                            <i class="fa-solid fa-circle-check me-2"></i>
                            Enfermedades crónicas como hipertensión, diabetes, colesterol alto.
                        </li>
                        <li class="mb-2 custom-li">
                            <i class="fa-solid fa-circle-check me-2"></i>
                            Problemas multisistémicos o varios síntomas sin causa clara.
                        </li>
                        <li class="mb-2 custom-li">
                            <i class="fa-solid fa-circle-check me-2"></i>
                            Seguimiento de tratamientos prolongados o evaluación médica general.
                        </li>
                        <li class="mb-2 custom-li">
                            <i class="fa-solid fa-circle-check me-2"></i>
                            Si no sabes a qué especialista acudir, el médico internista puede orientarte y derivarte si es necesario.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>
    <!-- Footer -->
    <div class='position-relative'>
        <div class="container absolute">
          <div class="contact">
          <div class="row justify-content-center text-white">
            <div class="col-lg-4 text-center">
              <div class="media">
                <div class="media-body ml-3"><a class="text-light fs-1 font-weight-semi-bold mb-0" href="tel:12345678910"><h5>+(123) 456 78910</h5></a>
                  <p class="fs--1 mb-0">¿Tienes alguna pregunta? Llámanos ahora</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-center mt-3 mt-lg-0">
              <div class="media">
                <div class="media-body ml-3"><a class="text-white fs-1 font-weight-semi-bold mb-0" href="mailto:help@qhalimed.com"><h5>ayuda@qhalimed.com</h5></a>
                  <p class="fs--1 mb-0">¿Necesitas ayuda? Escríbenos.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-center mt-3 mt-lg-0">
              <div class="media">
                <div class="media-body ml-3">
                  <h5>Lun – Sáb 07:00 – 21:00</h5>
                  <p class="fs--1 mb-0">Horario de atención</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>


        <div class='footer'>
          <div class='container pb-4 d-flex flex-column flex-md-row justify-content-between'>
            <div>
              <h4>QHALIMED</h4>
              <p class='mb-md-0'>Cuidamos tu salud con profesionalismo y calidez.</p>
            </div>
            <div class='redes-sociales d-flex gap-4 flex-wrap'>
              <div><i class="fa-brands fa-youtube"></i></div>
              <div><i class="fa-brands fa-facebook"></i></div>
              <div><i class="fa-brands fa-instagram"></i></div>

            </div>
          </div>
          <div class='border-top pt-3 text-center'><p class='mb-0'>© 2025 QHALIMED. Todos los derechos reservados.</p></div>
        </div>
      </div>   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
        AOS.init({
            duration: 900 
        });
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <!-- Splide -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
    <script>
        const { AutoScroll } = window.splide.Extensions;
    </script>
    <!-- slick -->
    
    </body>
</html>
