.img-contenido{
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height:300px;
}
.valores h3{
    font-weight: 800;
    font-size: 20px;
}
.valores p{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top:30px;
}
.item {
    padding: 18px;
    text-align: center;
    max-width: 377px;
    border-radius:30px;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 45%;
    min-width: 233px;
}
.valores {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 7.5%; 
    justify-content: space-evenly;
}
@media (max-width: 575.98px) {
    .valores{
        padding-inline: 3rem;
    }
    .img-3{
        background-position-x: 45%;
        background-size: 180%;
    }
    .img-mision{
        background-position-y: 50%!important;
        min-height: 270px;
    }
 }
@media (min-width: 768px) { 
    .valores {
        gap: 90px 7.5%; 
    }
    .item {
        padding: 38px;
        border-radius:40px;
        padding-bottom: 70px;
        padding-top: 38px;
    }
    .valores h3{
        font-size: 32px;
    }
    .valores p{
        font-size: 24px;
        line-height: 30px;
    }
    .Responsabilidad{
        font-size: 28px!important;
    }
 }
 @media (min-width: 1200px) { 
    .valores h3{
        font-size: 40px;
    }
    .valores p{
        font-size: 28px;
    }
    .Responsabilidad{
        font-size: 34px!important;
    }
 }
 @media (max-width: 991.98px) { 
    .img-mision{
        background-image: url('../../assets/img/VISION.webp')!important;
        background-position-y: 40%;
    }
 }
 @media (min-width: 768px) and (max-width: 991.98px) {
    .img-3{
        height: 456px;
        background-position-x: 45%;
    }
    .valores {
        gap: 60px 7.5%;
    }
 }