.imagen-contacto{
    height:528px;
    background-image: url('../../assets/img/Contacto.webp');
    background-size: cover; 
    background-position-y: 15%;
    background-repeat: no-repeat; 
}
.contacto p{
 font-size:36px;
 font-Weight:600;
}
.contacto{
    width:377px;
}
.correo p{
 font-size:30px;
 font-Weight:600;
}
.correo p,.contacto p{
 margin-bottom:0px;
}
.contacto,.correo{
border: 3px solid #FFFFFF;
border-radius:20px;
}
.correo{
    height: fit-content;
}
@media (max-width: 1199.98px) { 
    .contacto h2,.contacto p{
        font-size:24px;
    }
    .correo p{
        font-size:22px;
    }
    .contacto {
        width: 245px;
    }
    .imagen-contacto{
        height:312px;
    }
 }

 @media (min-width: 834px) and (max-width: 1199.98px) { 
    .header-contacto{
        padding-inline:0;
    }
 }
 @media (max-width: 767.98px) { 
    .header-contacto h2{
        font-size:19px!important;
    }
    .correo p{
        font-size:16px;
    }

    .items-justify{
        justify-items: center;
    }
    .contacto{
        margin-bottom: 40px;
    }
 }
 @media (max-width: 575.98px) {
    .imagen-contacto{
        background-size: 210%;
        background-position-x: 88%;
    }
  }
 