.card-content{
  background: #EDF2F1;
  border-radius: 1rem;
  text-align: left;
  height: 100%;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
  overflow: hidden;
}
.blog-card{
      margin-bottom: 1.6rem;
}
.blog-text{
  padding:1.5rem;
  padding-top:0;
}
.blog-text h5{
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* ← Límite de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:1.2rem;
}
.blog-text p{
  display: -webkit-box;
  -webkit-line-clamp: 3;      /* ← Límite de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-text a{
color:#fe6f63;
}
.card-content img{
    width:100%;
    height: 200px;
    object-fit: cover;
}
.card-content .categoria{
    width: 85px;
    height: 85px;
    background: #FFC261;
    border-radius: 50%;
    border: 8px solid #edf2f1;
    margin-top: -45px;
    z-index: 1;
    position: relative;
    align-content: center;
    text-align: center;
    color: white;
    justify-self: center;
    font-size:2rem;
}