.portada-certificado{
    height:662px;
    background-image: url('../../assets/img/Certificado.webp');
    background-size: cover; 
    background-position-y: 25%;
    background-repeat: no-repeat; 
}
@media (max-width: 575.98px) {
    .portada-certificado {
        background-size: 210%;
        background-position-x: 44%;
    }
}
@media (max-width: 767.98px) {
    .certificado h2{
        font-size:18px!important;
    }
    .img-certificado{
        height:136px;
    }
    .portada-certificado{
        height:385px;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) { 
    .img-certificado{
        height:181px;
    }
    .portada-certificado{
        height:405px;
    }
    .certificado{
        padding-inline:0;
    }
 }